.event-list-page {
    padding: 20px;
    display: flex;
    flex-direction: column;

    .event-list-controls {
        border-top: 2px dashed #eee;
        padding: 20px 10px;
        flex: 0 0 auto;
        display: flex;
        justify-content: center;
    }
}